{% extends 'base.html' %}
{% load static %}


{% block title %}
My Blog
{% endblock %}

{% block css_files %} 
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}

{% block body %}

<div class="container">

    <header id="header">
        <img src="" alt="Faaiz Img">
        <h1>Faaiz Ali Tariq's</h1>
        <h1>Blog</h1>
        <p>Hey! I am Faaiz ALi And I love to Blog about Programming!!!</p>
    </header>

    <section id="posts">
        <h2>My Lastest Thoughts</h2>
        <div class="post">
            {% include 'blog/includes/posts.html' %}
        </div>
    </section>

    <footer id="footer">
        <h1>What I Do</h1>
        <p>I love Programming and I love to help others struggling
            out to become a successful Programmer. My goal is to
            keep growing as a developer.</p>
    </footer>
</div>
{% endblock %}